<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   
    <title>Relâmpago McQueen Carros</title> 
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/styles.css">

    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="http://localhost/internalSystemMcQueen">
      <img
        src="/public/img/mcqueengif.gif"
        height="40"
        alt="McQueen"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

        <button type="button" class="btn btn-primary me-3">
          Novo na Relâmpago McQueen? Cadastre-se aqui!
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->

</nav>
<!-- Navbar -->
   
