label {
    display: inline-block;
    white-space: 1000px;
}
.card {
    display: inline-block;
    white-space: 1000px;
}
body {
background-image: url(../img/carslandcars.jpg);
background-size: cover;
background-position: center;
opacity: 0.75;
}
